<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class ="ion-text-center">ESTADO NEUROLÓGICO
        <br> <font size="3">Leve, 1 Punto</font> 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-grid class="center-grid">
  <ion-list>
    <div class="ion-text-center">
      <ion-list-header>
        <ion-label >
          ¿El paciente...
        </ion-label>
      </ion-list-header>
    </div>

      <ion-item  (click)="Change()">
        <ion-checkbox [(ngModel)]="form[0].isChecked"  color=success slot="end" disabled="false"></ion-checkbox>
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label style="color:black;" class="ion-text-wrap"> ... está somnoliento cuando nadie lo molesta?</ion-label>
      </ion-item>

    <ion-item (click)="Change()">
      <ion-checkbox [(ngModel)]="form[1].isChecked"  color=success slot="end" disabled="false"></ion-checkbox>
      &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label style="color:black;"class="ion-text-wrap">... responde solo a estímulos verbales?</ion-label>
    </ion-item>

  <ion-toolbar>
    <ion-button slot="start" color="primary" (click)="regreso1()">
      Anterior
    </ion-button>

    <ion-button slot="end" color="primary" (click)="adelante3()">
      Siguiente
    </ion-button>
  </ion-toolbar>

</ion-list>

</ion-grid>

</ion-content>