<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class ="ion-text-center">ESTADO RESPIRATORIO
        <br> <font size="3">Normal, 0 Puntos</font> 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center-grid">
  <br> <br>
  <ion-list>
    <ion-item (click)="Change()">
      <ion-label>Sin retracciones</ion-label>
      <ion-checkbox [(ngModel)]="form[0].isChecked" value="form[0].isChecked"  color=success slot="end"></ion-checkbox>
    </ion-item>

    <ion-item (click)="Change()">
      <ion-label class="ion-text-wrap">Patrón respiratorio normal o en su basal</ion-label>
      <ion-checkbox [(ngModel)]="form[1].isChecked" value="form[1].isChecked"  color=success slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
<br> <br>
<div class="ion-text-center">  
  <ion-toolbar>
    <ion-button routerLink='/respiratorio1'>Anterior</ion-button> 
    <ion-button (click)="Siguiente()">Sigiente</ion-button> 
  </ion-toolbar>
  
</div>
</ion-grid>
</ion-content>
