ion-content {
    --ion-background-color:rgb(240,255,240);
}
ion-grid {
    &.center-grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        display: block !important;
        width: 80%;
    }
}