<ion-content >
  <ion-grid class="center-grid">
 
    <ion-list>
      <ion-item (click)="preocupacion()">
        <ion-checkbox [(ngModel)]="form[0].isChecked" value="form[0].isChecked" slot="end"  color=success disabled="false"></ion-checkbox>
        <ion-label class="ion-text-wrap">Preocupación de la enfermera</ion-label>
      </ion-item>

      <ion-item (click)="preocupacion()">
        <ion-checkbox [(ngModel)]="form[1].isChecked" value="form[1].isChecked" slot="end"  color=success disabled="false"></ion-checkbox>
        <ion-label class="ion-text-wrap">Preocupación de la familia</ion-label>
      </ion-item>
    </ion-list>
    
    <ion-toolbar>
      <ion-button slot="start"  color="primary" (click)="anterior()">
        Anterior
      </ion-button>

      <ion-button slot="end" color="primary" (click)="adelante()">
        Siguiente
      </ion-button>
    </ion-toolbar>

  </ion-grid>
</ion-content>
