<app-header titulo="ESTADO NEUROLÓGICO" 
            subtitulo="Severo, 3 Puntos" ></app-header>  

<ion-content> 

<ion-grid class="center-grid"> 
  
<ion-row > <ion-col>

<ion-list>

  <div class="ion-text-center">
    <ion-list-header>
      <ion-label >
        ¿El paciente...
      </ion-label> 
    </ion-list-header>
  </div>


  <ion-item (click)="Change()">
    <ion-label>... está letárgico?</ion-label>
    <ion-checkbox [(ngModel)]="form[0].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item >
  <ion-item (click)="Change()">
    <ion-label>... está confundido?</ion-label>
    <ion-checkbox [(ngModel)]="form[1].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item>
  <ion-item (click)="Change()">
    <ion-label>... está sin fuerzas?</ion-label>
    <ion-checkbox [(ngModel)]="form[2].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item>
  <ion-item (click)="Change()">
    <ion-label class="ion-text-wrap" >... no responde a estímulos?</ion-label>
    <ion-checkbox [(ngModel)]="form[3].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item>
  <ion-item (click)="Change()">
    <ion-label class="ion-text-wrap">... presenta convulsiones?</ion-label>
    <ion-checkbox [(ngModel)]="form[4].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item>
  <ion-item (click)="Change()">
    <ion-label class="ion-text-wrap">... presenta anisocoria?</ion-label>
    <ion-checkbox [(ngModel)]="form[5].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item>
  <ion-item (click)="Change()">
    <ion-label class="ion-text-wrap">... presenta pupilas no reactivas a la luz?</ion-label>
    <ion-checkbox [(ngModel)]="form[6].isChecked"  color=success slot="end"></ion-checkbox>
  </ion-item>

<ion-toolbar>
  <ion-button slot="start" routerLink='/datos-pacientes'>Anterior</ion-button> 
  <ion-button slot="end" (click)="Siguiente()">Siguiente</ion-button> 
</ion-toolbar>

</ion-list>

</ion-col> </ion-row>
</ion-grid>

</ion-content>
