<ion-header >
  <ion-toolbar >

    <div class="ion-text-center && ion-text-uppercase">
      <ion-title  text-capitalize size="large"> {{titulo}} </ion-title>
    </div>

    <div class="ion-text-center && ion-text-capitalize" >
      <ion-title  text-capitalize size="small"> {{subtitulo}} </ion-title>
    </div>
    
   </ion-toolbar>
 </ion-header>