<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class ="ion-text-center">ESTADO NEUROLÓGICO
        <br> <font size="3">Normal, 0 Puntos</font> 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center-grid">
  <ion-list>    
    <div class="ion-text-center" >
      <ion-list-header>
        <ion-label >
          ¿El paciente...
        </ion-label>
      </ion-list-header>
    </div>

    <ion-item (click)="Change()">
      <ion-checkbox [(ngModel)]="form[0].isChecked"  color=success slot="end" disabled="false"></ion-checkbox>
      &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label class="ion-text-wrap"> ... está alerta o durmiendo apropiadamente?</ion-label>
    </ion-item>

    <ion-item (click)="Change()">
      <ion-checkbox [(ngModel)]="form[1].isChecked"  color=success slot="end" disabled="false"></ion-checkbox>
      &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label class="ion-text-wrap">... está en su estado basal de alerta?</ion-label>
    </ion-item>

  </ion-list>

  <ion-toolbar>
    <ion-button slot="start" color="primary" (click)="regreso2()">
      Anterior
    </ion-button>

    <ion-button slot="end" color="primary" (click)="Siguiente()">
      Siguiente
    </ion-button>
  </ion-toolbar>
</ion-grid>  

</ion-content>

