<app-header titulo="ESTADO CARDIOVASCULAR"
             subtitulo="Normal, 0 puntos."></app-header>

<ion-content fullscreen class="ion-padding">
<ion-grid class="center-grid">

<ion-list >
  <div class="ion-text-center" > 
  <ion-list-header>
    <ion-label >
      ¿El paciente ...
    </ion-label>
  </ion-list-header>
  </div>

  <!-- Checkboxes in a List -->
    <ion-item *ngFor="let entry of form" (click)="Change()">
      <ion-label class="ion-text-wrap">{{entry.val}}</ion-label>
      <ion-checkbox color="success" slot="end" [(ngModel)]="entry.isChecked" value="entry.isChecked"></ion-checkbox>
    </ion-item>
</ion-list>

<ion-toolbar>
  <ion-button slot="start" routerLink="/cardiovascular1">Anterior</ion-button>
  <ion-button slot="end" (click)="Siguiente()">Siguiente</ion-button>
</ion-toolbar>

</ion-grid>
</ion-content>