<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal()">Regresar</ion-button>
    </ion-buttons>
    <ion-title slot="end">EVAT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario='ngForm'>
 <div>

  <br><br>
  <br><br>
  <br><br>
  
  <ion-item class="ion-text-center">
    <ion-label>Ingrese su correo electronico </ion-label>
  </ion-item>
  <ion-item>
    <ion-input class ="ion-text-center" value="" placeholder="Ejemplo@gmail.com" inputmode="email"  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="correo" name="email" required></ion-input>
  </ion-item>
  <br><br>
  <br><br>

  <ion-row center>  
    <ion-col></ion-col>
    <ion-col text-center>   

      <ion-button class="ion-text-center" type='submit' [disabled]='formulario.invalid' (click)="EnviarSolicitud()"  >
        Enviar
      </ion-button>

    </ion-col> 
    <ion-col></ion-col>
   </ion-row>

</div>
</form>
</ion-content>