<app-header titulo="Estado Cardiovascular" subtitulo="Moderada, 2 puntos" > </app-header>

<ion-content class="evat" >
<ion-grid class="center-grid">
<ion-list>
    
  <div class="ion-text-center">
    <ion-list-header>
      <ion-label >
        ¿El paciente...
      </ion-label> 
    </ion-list-header>
  </div>
        
  <ion-item class="top-20" *ngFor="let check of data" (click)="Change()"> 
    <ion-label class="ion-text-wrap"> {{ check.label }} </ion-label>
      <ion-checkbox slot="end" 
                    color="success" 
                    [(ngModel)]="check.selected" value="check.selected">  
      </ion-checkbox>
  </ion-item>  

  </ion-list>

<ion-toolbar  >
  <ion-button class="top-20" slot="start" color="primary" routerLink="/cardiovascular3" > Anterior </ion-button>
  <ion-button class="top-20" slot="end" color="primary" (click)="Siguiente()"> Siguiente </ion-button>
</ion-toolbar>

</ion-grid>

</ion-content>