<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/iniciar-sesion"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class ="ion-text-center">Datos del paciente</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <form #formulario="ngForm"  novalidate>

  <br> <br>
  <div class="ion-text-center">
      <ion-row>
        <ion-col> </ion-col>

        <ion-col>
            <img src="../assets/img/evat-logo.jpeg/">
        </ion-col>

        <ion-col> </ion-col>
      </ion-row>
      
      
      <!--Aviso de campos-->
      <ion-item *ngIf="formulario.invalid" >
        <ion-label class="ion-text-wrap && ion-text-center" color="danger">
        Llene los campos o ingrese valores validos en los parámetros.
    </ion-label>
    </ion-item>

      <ion-row >
        <ion-col> </ion-col>
        <ion-col size="7" size-sm="7" size-xs="9">
          <div> 
            <ion-item>
            <ion-input class ="ion-text-center" [(ngModel)]="paciente.nombre" name="nombre" clearInput=true required value="" placeholder="Nombre del paciente"></ion-input>
          </ion-item>
          </div>
        </ion-col>

        <ion-col> </ion-col>      
      </ion-row>

      <ion-row >
        <ion-col> </ion-col>
        <!-- size="" size-lg="" size-md="" size-sm="" size-xs=""-->
        <ion-col size="7" size-sm="7" size-xs="9">
          <div>
            <ion-item>
            <ion-input class ="ion-text-center" [(ngModel)]="paciente.registro" clearInput=true name="registro" value="" required
                      type="number" min="0" placeholder="Registro del paciente"></ion-input>
          </ion-item>          
          </div>
        </ion-col>
        
        <ion-col> </ion-col>
      </ion-row>

      <ion-row >
        <ion-col> </ion-col>
        <!-- size="" size-lg="" size-md="" size-sm="" size-xs=""-->
        <ion-col size="7" size-sm="7" size-xs="12">
          <div>
      <!--  Agrego opciones para Edad-->
      <ion-item >
        <ion-label>Formato de Edad</ion-label>
        <ion-select [(ngModel)]="paciente.tipoedad" name="tipo" required placeholder="Seleccione"> 
          <ion-select-option value="meses">Meses</ion-select-option>
          <ion-select-option value="años">Años</ion-select-option>
        </ion-select>
      </ion-item>

    </div>
  </ion-col>
  
  <ion-col> </ion-col>
</ion-row>
  
<ion-row >
  <ion-col> </ion-col>
  <!-- size="" size-lg="" size-md="" size-sm="" size-xs=""-->
  <ion-col size="7" size-sm="7" size-xs="9">
    <div>
  <ion-item (ionChange)="Cambios()">
    <!--<ion-label position="stacked">Edad del Paciente</ion-label>-->
    <ion-input placeholder="Edad del Paciente" clearInput=true  [(ngModel)]="paciente.edad" name="edad" min="1" max="150" 
                onchange="if(this.value>150){this.value='150';}else if(this.value<1){this.value='1';}"
                class ="ion-text-center" type="number" required clearInput=true></ion-input>
  </ion-item>
      <!---->
    </div>
  </ion-col>
  <ion-col> </ion-col>
</ion-row>

      <ion-row >
        <ion-col> </ion-col>
      
        <ion-col>
            <ion-button  type="submit" [disabled]="formulario.invalid" (click)="Siguiente()">
              Ingresar
            </ion-button>         
        </ion-col>
        
        <ion-col> </ion-col>
      </ion-row>
    
  </div>
  </form>
</ion-grid>
</ion-content>
