<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content >
  <ion-header collapse="condense">
  </ion-header>
  <div class ="ion-text-center"><h1> </h1></div>


  


<div >
  <ion-grid >
    <form #formulario='ngForm'(ngSubmit)='onSubmitTemplate()'>
    
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>


    <ion-row >
      <ion-col></ion-col>
  
      <ion-col>
        <img src="../assets/img/evat-logo.jpeg/">
      </ion-col>
  
      <ion-col></ion-col> 
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class ="ion-text-center" value="" placeholder="Ingrese Usuario" [(ngModel)]="usuario.username" name="username"  required></ion-input>
          </ion-item>
        </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row > 
      <ion-col></ion-col>
    
      <ion-col size="7">
        <ion-item>
          <ion-input  class ="ion-text-center" value="" type="password" [(ngModel)]="usuario.password" name="password"
                      placeholder="Ingrese contraseña"  required>
          </ion-input>
        </ion-item>          
      </ion-col>

      <ion-col></ion-col>
    </ion-row>

    <ion-row > 
        <ion-col></ion-col>
    
        
        <ion-toolbar class="fixme">
        
            <ion-button  type='submit' [disabled]='formulario.invalid'  (click)="refresh()" >
              Ingresar
            </ion-button>
        
        </ion-toolbar>

        <ion-col></ion-col>
    </ion-row>

  <ion-row >
    <ion-col class ="ion-text-center">
        Ingrese al sistema con su nombre de usuario y contraseña. Si no los tiene, debe registrarse antes.
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col class="ion-text-center">
      <a class="ion-text-center"  (click)="showModal()" >
        Olvido su contraseña
    </a>
    </ion-col>

  </ion-row>

    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
    <ion-row> <ion-col></ion-col> </ion-row>
  </form>
  </ion-grid>

</div>


</ion-content>
