<ion-header>
  <ion-toolbar class="evat">
    <ion-title>
      <div class ="ion-text-center">ESTADO NEUROLÓGICO
        <br> <font size="3">Moderada, 2 Puntos</font> 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="center-grid"> 

    <ion-list>
      <div class="ion-text-center" >
        <ion-list-header>
          <ion-label >
            ¿El paciente...
          </ion-label>
        </ion-list-header>
      </div>
 
      <ion-item (click)="Change()" >
        <ion-checkbox [(ngModel)]="form[0].isChecked" color=success slot="end" disabled="false"></ion-checkbox>
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label style="color: black;"> ... está irritable?</ion-label>
      </ion-item>

      <ion-item (click)="Change()" >
        <ion-checkbox [(ngModel)]="form[1].isChecked" color=success slot="end" disabled="false"></ion-checkbox>
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label style="color: black;" class="ion-text-wrap">... es difícil de consolar?</ion-label>
      </ion-item>
      <ion-item (click)="Change()" >
        <ion-checkbox [(ngModel)]="form[2].isChecked" color=success slot="end" disabled="false"></ion-checkbox>
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label class="ion-text-wrap" style="color: black;">... responde solo a estímulos dolorosos?</ion-label>
      </ion-item>
    </ion-list>

    <ion-toolbar class="evat">
      <ion-button slot="start" color="primary" (click)="regreso()">
        Anterior
      </ion-button>

      <ion-button slot="end" color="primary" (click)="adelante()">
          Siguiente
      </ion-button>
    </ion-toolbar>

  </ion-grid>

</ion-content>
