<app-header titulo="Estado Cardiovascular" subtitulo="Severa, 3 puntos" ></app-header>

<ion-content class="evat" >
<ion-grid class="center-grid"> 
<ion-list> 

  <div class="ion-text-center">
    <ion-list-header>
      <ion-label >
        ¿El paciente...
      </ion-label>
    </ion-list-header>
  </div>

  <ion-item class="top-20" *ngFor="let check of data" (click)="Change()"> 
    <ion-label class="ion-text-wrap"> {{ check.label }} </ion-label>
      <ion-checkbox slot="end" 
                    color="success" 
                    [(ngModel)]="check.selected" value="check.selected">  
      </ion-checkbox>
  </ion-item>  
    
<ion-toolbar>
  <ion-button slot="start" class="top-20" color="primary" routerLink="/cardiovascular4" > Anterior </ion-button>
  <ion-button slot="end" class="top-20" color="primary" (click)="Siguiente()"> Siguiente </ion-button>
</ion-toolbar>

</ion-list>

</ion-grid>

</ion-content>
