<app-header titulo="Estado Cardiovascular"></app-header>

<ion-content fullscreen class="evat">
<ion-grid class="center-grid" >

<form #formulario="ngForm"  novalidate>
  <!--Aviso de campos-->
  <ion-item *ngIf="formulario.invalid">
      <ion-label class="ion-text-wrap && ion-text-center" color="danger">
      Llene los campos o ingrese valores validos en los parámetros.
  </ion-label>
  </ion-item>
  <br>

  
  <div class="ion-text-center">
      Frecuencia cardiaca:
  </div>

  <ion-item (ionChange)="Cardio()">
      <ion-label position="stacked" class="ion-text-wrap"> </ion-label>
      <ion-input class ="ion-text-center" type="number" min="51"  
                  onchange="if(this.value>250){this.value='250';}else if(this.value<51){this.value='51';}"
                  [(ngModel)]="cardiovascular.fcardiaca" name="fcardiaca" clearInput=true placeholder="Ingrese latidos/min" required></ion-input>
  </ion-item>

  <div class="ion-text-center && top-20"> Llenado Capilar: </div>
  <ion-item (ionChange)="Cap()">
      <ion-label position="stacked" class="ion-text-wrap"> </ion-label>
      <ion-input class ="ion-text-center" type="number" min="0"  
                  onKeyUp="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}"
                  [(ngModel)]="cardiovascular.llenado" name="Llenado" clearInput=true placeholder="Llenado Capilar (segundos)" required></ion-input>
  </ion-item>

  <ion-toolbar>
      <ion-button slot="start" class="top-20" color="primary" routerLink="/neurologico3" > Anterior </ion-button>
      <ion-button slot="end" class="top-20" color="primary" type="submit" [disabled]="formulario.invalid" (click)="Siguiente()"> Siguiente </ion-button>
  </ion-toolbar>

  <ion-item>
      <ion-label class="ion-text-wrap && ion-text-center">
          Se calculará un puntaje a priori a partir de estos valores, si el estado no es severo se pasará con los demas parametros.
      </ion-label>
  </ion-item>

</form>
</ion-grid>
</ion-content>

