<app-header titulo="estado cardiovascular"
             subtitulo="leve, 1 punto."></app-header>
             
<ion-content fullscreen class="ion-padding">
  <ion-grid class="center-grid"> 

    <!-- size siz3-lg="" size-md="" size-sm="" size-xs=""   -->
      <div class="ion-text-center" >
      <ion-list-header>
        <ion-label >
          ¿El paciente...
        </ion-label>
      </ion-list-header>
    </div>

        <!-- Checkboxes in a List -->
    <ion-item *ngFor="let entry of form" (click)="Change()">
      <ion-label >{{entry.val}}</ion-label>
      <ion-checkbox color="success" slot="end" [(ngModel)]="entry.isChecked" value="entry.isChecked"></ion-checkbox>
    </ion-item>
 
    <ion-toolbar>
      <ion-button slot="start" routerLink="/cardiovascular2">Anterior</ion-button>
      <ion-button slot="end"  (click)="Siguiente()">Siguiente</ion-button>
    </ion-toolbar>

  </ion-grid>
</ion-content>
            