<app-header titulo="ESTADO RESPIRATORIO"
             subtitulo="Severa, 3 puntos."></app-header>

<ion-content fullscreen class="ion-padding">
<ion-grid class="center-grid">

<ion-list >

    

  <ion-item (click)="Change()"> 
    <ion-label class="ion-text-wrap">Trabajo respiratorio severo. </ion-label>
       <ion-button (click)="mostrarPop( $event)" color="medium" Mensaje="Mueve la cabeza, disociación toraco-abdominal, jadea">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    <ion-checkbox  color="success" slot="end" [(ngModel)]="form[0].isChecked" value="form[0].isChecked"></ion-checkbox>   
  </ion-item>

  <ion-item (click)="Change()">
    <ion-label class="ion-text-wrap">Oxígeno en mascarilla con reservorio o mayor de 3 L/min.</ion-label>
    <ion-checkbox color="success" slot="end"[(ngModel)]="form[1].isChecked" value="form[1].isChecked"></ion-checkbox>
  </ion-item>

  <ion-item (click)="Change()">
    <ion-label class="ion-text-wrap">Apnea</ion-label>
    <ion-checkbox color="success" slot="end" [(ngModel)]="form[2].isChecked" value="form[2].isChecked"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-toolbar>
  <ion-button slot="start" routerLink="/respiratorio4">Anterior</ion-button>
  <ion-button slot="end" (click)="Siguiente()">Siguiente</ion-button>
</ion-toolbar>

</ion-grid>
</ion-content>