<app-header titulo="CAMBIO DE CONTRASEÑA"></app-header>
  

<ion-content >
  <form #formulario='ngForm'>
  <ion-grid class="center-grid">

    <ion-item>
      <ion-label position="stacked" class="ion-text-wrap">Contraseña nueva:</ion-label>
        <ion-input type="string" [(ngModel)]="contra.nueva" name="nueva" clearInput="true" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="ion-text-wrap">Confirmar contraseña:</ion-label>
      <ion-input type="string" [(ngModel)]="contra.confirmacion" name="confirma" clearInput="true" required></ion-input>
    </ion-item>
 
    <ion-toolbar>
      <ion-button slot="start" type='submit' [disabled]='formulario.invalid' (click)="Cambiar()">Cambiar Contraseña</ion-button>
    </ion-toolbar>

</ion-grid>
</form>

</ion-content>