ion-content{
    --ion-background-color: rgb(240, 255, 240);
}

ion-toolbar.evat {
    --ion-background-color: rgb(220, 255, 220);
}

ion-searchbar.evat {
    --ion-background-color: rgb(255, 255, 255);
}

ion-grid {
    &.center-grid {
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        display: block !important;
        /*width: 100%;*/
    }
}

.fixme {
    -webkit-flex: 0 0 170px;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px !important;
    width: 170px !important;
    min-width: 170px !important;
    max-width: 170px !important;
}

.top-20{
    margin-top: 20px;
}